<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.network.socket">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>

        <service
            android:name="android.network.remote.RemoteService"
            android:exported="false"
            android:process=":remote" />

        <service
            android:name="android.network.local.LocalService"
            android:exported="false"
            android:process=":local" />

    </application>

</manifest>
